.layout {
    height: 100vh;
  }


  nz-header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    color: #6d12e6be;
  }
  .iconSize {
    width: 50PX;
    height: 50px;
  }
  .Usericon{
    width: 30PX;
    height: 30px;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 20px;
    margin-top: 80px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  

  nz-footer {
    text-align: center;
  }


  .fontSize{
    font-size: 30px;
  }

  @media (min-width: 1700px) and (max-width: 2000px) { 
    .buttonSize{
      width: 200px;
      height: 80px;
      text-align: center;
    }
    .Logoutbutom{
      margin-left: 140px;
    }
    .inner-content {
      background: rgb(255, 255, 255);
      padding: 24px;
      min-height: 700px;
    }
  }
  @media (min-width: 1300px) and (max-width: 1640px) { 
    .buttonSize{
      width: 150px;
      height: 80px;
      text-align: center;
    }
    .Logoutbutom{
      margin-left: 100px;
    }
    .inner-content {
      background: rgb(255, 255, 255);
      padding: 24px;
      min-height: 600px;
    }

    
  }