<nz-layout class="layout">
  <nz-header class="shadow-sm p-0 mb-5 rounded">

    <div class="row ">
      <div class="col-0" style=" margin: 7px 0px 0px 25px;">
        <i class="fas fa-chalkboard-teacher iconSize"></i>
      </div>
      <div class="col-2">
        <div style="font-size: 20px;">: ร้านพาณิช</div>
      </div>
      <div class="col-0" style="margin-top: 7px;">
        <i class="fas fa-user Usericon"></i>
      </div>
      <div class="col-2">
        <div style="font-size: 20px;">: นาย</div>
      </div>
      <div class="col-0" style="margin-top: 7px;">
        <i class="fas fa-map-pin Usericon"></i>
      </div>
      <div class="col-5">
        <div style="font-size: 20px;">: เจ้าของร้าน</div>
      </div>
      <div class="col-1">
        <button nz-button nzType="default">รายละเอียดร้าน</button>
      </div>
      <div class="col-1 ">
        <button [routerLink]="['../']" style="background: rgb(243, 67, 67);" nz-button> <span style="color: white;">ออกจากระบบ</span> </button>
      </div>

    </div>

  </nz-header>

  <nz-content>

    <div class="row">
      <div class="col">
        <div class="inner-content">

          <div class="row">
            <div class="col-3">
              <button [routerLink]="['/previousbills']" (click)="onClickEvent('previousbills')"class="buttonSize" style="background: rgba(141, 241, 236, 0.733);" nz-button [nzSize]="size"
                nzType="default"> <b style="font-size: 18px;">ตรวจสอบบิล <br> ย้อนหลัง</b> </button>
            </div>
            <div class="col-3">
              <button  [routerLink]="['/billmanage']" (click)="onClickEvent('billmanage')" class="buttonSize" style="background: rgba(113, 245, 238, 0.733);" nz-button [nzSize]="size"
                nzType="default"> <b style="font-size: 18px;"> จัดการบิล</b> </button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/addproducts']" class="buttonSize" style="background: rgba(88, 243, 235, 0.733);" nz-button [nzSize]="size"
                nzType="default"> <b style="font-size: 18px;"> เพิ่มสินค้า</b></button>
            </div>
            <div class="col-3">
              <button  [routerLink]="['/editproducts']" class="buttonSize" style="background: rgba(64, 245, 236, 0.733);" nz-button [nzSize]="size"
                nzType="default"> <b style="font-size: 18px;">แก้ไขสินค้า </b> </button>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-3">
              <button  [routerLink]="['/warehouse']" class="buttonSize" style="background: rgba(33, 240, 229, 0.733);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">คลังสินค้า </b></button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/littleproduct']" class="buttonSize" style="background: rgba(13, 219, 209, 0.733);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">สินค้าเหลือน้อย </b></button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/outstock']" class="buttonSize" style="background: rgba(13, 180, 172, 0.733);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">สินค้าที่หมด </b></button>
            </div>
            <div class="col-3">
              <!-- <button class="buttonSize" nz-button [nzSize]="size" nzType="default">Default</button> -->
            </div>
          </div>
          <br>
          <br>
          <div class="row" style="margin-top: 20px;">
            <div class="col-3">
              <button [routerLink]="['/salesreport']" class="buttonSize" style="background: rgb(247, 241, 189);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">รายงานการขาย </b></button>
            </div>
            <div class="col-3">
              <button  [routerLink]="['/bestseller']" class="buttonSize" style="background: rgba(245, 234, 141, 0.849);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">สินค้าขายดี</b></button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/lesssale']" class="buttonSize" style="background: rgb(250, 239, 142);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">สินค้าขายได้น้อย </b></button>
            </div>
            <div class="col-3">
              <!-- <button class="buttonSize" nz-button [nzSize]="size" nzType="default">Default</button> -->
            </div>
          </div>
          <br>
          <br>
          <div class="row" style="margin-top: 20px;">
            <div class="col-3">
              <button [routerLink]="['/editstore']" class="buttonSize" style="background: rgba(248, 210, 216, 0.884);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">แก้ไขข้อมูลร้าน </b></button>
            </div>
            <div class="col-3">
              <button  [routerLink]="['/adduser']" class="buttonSize" style="background: rgba(247, 194, 202, 0.884);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">เพิ่มรหัสผู้ใช้งาน </b></button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/testscanner']" class="buttonSize" style="background: rgba(253, 174, 186, 0.884);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">ทดสอบเครื่องสแกน <br> บาร์โค้ด</b></button>
            </div>
            <div class="col-3">
              <button [routerLink]="['/howtouse']" class="buttonSize" style="background: rgba(247, 152, 166, 0.884);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">วิธีใช้งานระบบ </b></button>
            </div>
          </div>
          <!-- <div class="row" style="margin-top: 20px;">
            <div class="col-3">
              <button [routerLink]="['/reportusage']" class="buttonSize" style="background: rgba(248, 150, 165, 0.884);" nz-button [nzSize]="size"
                nzType="default"><b style="font-size: 18px;">แจ้งปัญหาการใช้งาน </b></button>
            </div>
          </div> -->

        </div>
      </div>
      <div class="col">
        <div class="inner-content">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="กรองชื่อสินค้า" autofocus="autofocus"/>
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>ค้นหาสินค้า</button>
          </ng-template>
          <br>
          <br><br><br><br><br>
          <nz-table #basicTable [nzData]="listOfData" [nzScroll]="{ y: '275px' }" [nzBordered]="false"
            [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="100px">ลำดับ</th>
                <th nzWidth="200px">ชื่อสินค้า</th>
                <th nzWidth="100px" class="text-center">จำนวน</th>
                <th nzWidth="100px" class="text-center">ราคา(บาท)</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.index }}</td>
                <td>{{ data.ProductName }}</td>
                <td class="text-center">{{ data.number }}</td>
                <td class="text-center">{{ data.Price }}</td>
                
              </tr>
            </tbody>
          </nz-table>
          <br>
          <div class="text-right">
            <B class="fontSize">ยอดรวม : {{ Total }} </B>
          </div>

          <nz-affix [nzOffsetTop]="650">
            <div class="row" style="margin-top: 20px;">
              <div class="col-3">
                <button id="Checkbill" (click)="Checkbill(CheckbillTitle, CheckbillContent, CheckbillFooter)" class="buttonSize" style="background: lightgreen;" nz-button
                  [nzSize]="size" nzType="default"> <b class="fontSize">คิดเงิน</b><br> (Enter) </button>
              </div>
              <div class="col-3">
                <button id="Getbill" (click)="Getbill(GetbillTitle, GetbillContent, GetbillFooter)" class="buttonSize " style="background: rgb(245, 245, 147);" nz-button [nzSize]="size"
                  nzType="default"><b class="fontSize">เก็บบิล</b><br> (F2) </button>
              </div>
              <div class="col-3">
                <button  id="Selectbill" (click)="Selectbill(SelectbillTitle, SelectbillContent, SelectbillFooter)" class="buttonSize " style="background: rgb(241, 198, 77);" nz-button [nzSize]="size"
                  nzType="default"><b class="fontSize">เรียกบิล</b><br> (F3) </button>
              </div>
              <div class="col-3">
                <button class="buttonSize " style="background: rgb(235, 114, 114);" nz-button [nzSize]="size"
                  nzType="default"><b class="fontSize">ยกเลิก</b><br> (Delete) </button>
              </div>
            </div>
          </nz-affix>
        </div>
      </div>


    </div>

  </nz-content>
  <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>


<!-- Modal Checkbill -->
<ng-template #CheckbillTitle>
  <span>Title Template</span>
</ng-template>
<ng-template #CheckbillContent>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</ng-template>
<ng-template #CheckbillFooter>
  <button nz-button nzType="default" (click)="Close()" >
    Close after submit
  </button>
</ng-template>


<!-- Modal Getbill -->
<ng-template #GetbillTitle>
  <span>Title Template</span>
</ng-template>
<ng-template #GetbillContent>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</ng-template>
<ng-template #GetbillFooter>
  <button nz-button nzType="default" (click)="Close()" >
    Close after submit
  </button>
</ng-template>


<!-- Modal Selectbill -->
<ng-template #SelectbillTitle>
  <span>Title Template</span>
</ng-template>
<ng-template #SelectbillContent>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</ng-template>
<ng-template #SelectbillFooter>
  <button nz-button nzType="default" (click)="Close()" >
    Close after submit
  </button>
</ng-template>