<nz-layout class="layout">
  <nz-header class="shadow-sm p-0 mb-5 rounded">
    <app-navbar [pageInput]="pageInput"></app-navbar>
  </nz-header>
  <br>
  <nz-content>
    <div class="row">
      <div class="col-8">
        <div class="inner-content">
          <div class="row">
            <div class="col">
              <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                <input type="text" nz-input placeholder="กรองชื่อสินค้า" />
              </nz-input-group>
              <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch>ค้นหาสินค้า</button>
              </ng-template>
            </div>
          </div>
          <br>
          <nz-table #basicTable [nzData]="listOfData" [nzScroll]="{ y: '275px' }" [nzBordered]="false"
            [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="100px">ลำดับ</th>
                <th nzWidth="300px">รหัสสินค้า</th>
                <th nzWidth="300px">ชื่อสินค้า</th>
                <th nzWidth="200px" class="text-center">จำนวน</th>
                <th nzWidth="200px" class="text-center">ราคา(บาท)</th>
                <th nzWidth="200px" class="text-center">ราคาต้นทุน(บาท)</th>
                <th nzWidth="300px" class="text-center"> จัดการสินค้า</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.index }}</td>
                <td>{{ data.ProductID }}</td>
                <td>{{ data.ProductName }}</td>
                <td class="text-center">{{ data.number }}</td>
                <td class="text-center">{{ data.Price }}</td>
                <td class="text-center">{{ data.CostPrice }}</td>
                <td class="text-center">
                  <button style="height: 23px;" nz-button nzType="primary"> เพิ่ม</button>&nbsp;
                  <button style="height: 23px; background: rgb(243, 231, 231); border: red; " nz-button> <span
                      style="color: red;">ลด</span></button>&nbsp;
                  <button style="height: 23px; background: lightcoral; border: 0px;" nz-button> <span
                      style="color: white;">ลบ</span></button>&nbsp;

                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <!-- Input for add Product -->
      <div class="col-4">

        <div class="inner-content">
          <div style="font-size: 20px; color: #903AF2;">กรอกข้อมูลสำหรับเพิ่มสินค้า</div>
          <hr>
          <form nz-form (ngSubmit)="submitForm(f.value)" #f="ngForm">
            <nz-form-item>
              <nz-form-label for="ProductID">รหัสสินค้า </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input class="form-control" id="ProductID" placeholder="กรอกรหัสสินค้า"
                  name="ProductID" [(ngModel)]="ProductID" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label for="listOfData.ProductName">ชื่อสินค้า </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input class="form-control" id="listOfData.ProductName"
                  placeholder="กรอกรหัสสินค้า" name="listOfData.ProductName" [(ngModel)]="listOfData.ProductName" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label for="listOfData.number">จำนวน </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input class="form-control" id="listOfData.number" placeholder="กรอกรหัสสินค้า"
                  name="listOfData.number" [(ngModel)]="listOfData.number" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label for="listOfData.Price">ราคา </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input class="form-control" id="listOfData.Price" placeholder="กรอกรหัสสินค้า"
                  name="listOfData.Price" [(ngModel)]="listOfData.Price" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label for="listOfData.CostPrice">ราคาต้นทุน </nz-form-label>
              <nz-form-control>
                <input type="number" nz-input class="form-control" id="listOfData.CostPrice" placeholder="กรอกรหัสสินค้า"
                  name="listOfData.CostPrice" [(ngModel)]="listOfData.CostPrice" />
              </nz-form-control>
            </nz-form-item>
            <br>
            <div class="row addButton">
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="danger"> ยกเลิก</button>&nbsp;
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button type="submit" nz-button nzType="primary"> เพิ่มสินค้า</button>&nbsp;
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>

      </div>

    </div>
  </nz-content>
  <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>