<nz-layout class="layout">
  <nz-header class="shadow-sm p-0 mb-5 rounded">
    <app-navbar [pageInput]="pageInput"></app-navbar>
  </nz-header>
  <br>
  <nz-content>
    <div class="row">
      <div class="col-7">
        <div class="inner-content">
          <div class="row">
            <div class="col">
              <p>ก่อนสแกนบาร์โค้ดกรุณาเปลี่ยนภาษาเป็น ENG</p>
              <form nz-form (ngSubmit)="searchProduct(Product)">
                <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                  <input type="text" nz-input placeholder="กรองชื่อสินค้า" [(ngModel)]="Product" name="Product" />
                </nz-input-group>
                <ng-template #suffixButton>
                  <button nz-button nzType="primary" nzSize="large" nzSearch>ค้นหาสินค้า</button>
                </ng-template>
              </form>
            </div>
          </div>
          <br>
          <nz-table #basicTable [nzData]="listOfData" [nzScroll]="{ y: '500px' }" [nzBordered]="false"
            [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="50px">ลำดับ</th>
                <th nzWidth="250px">รหัสสินค้า</th>
                <th nzWidth="300px" class="text-center">ชื่อสินค้า</th>
                <th nzWidth="100px" class="text-center">จำนวน</th>
                <th nzWidth="100px" class="text-center" >ราคา(บาท)</th>
                <th nzWidth="200px" class="text-center">ราคาต้นทุน(บาท)</th>
                <th nzWidth="300px" class="text-center"> แก้ไขจำนวนสินค้า</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; let i = index">
                <td>{{ i+1}}</td>
                <td>{{ data.productId }}</td>
                <td>{{ data.productName }}</td>
                <td >{{ data.productAmount }}</td>
                <td >{{ data.productPrice }}</td>
                <td class="text-center">{{ data.costPrice }}</td>
                <td class="text-center">
                  <button style="height: 23px;" nz-button nzType="primary"
                    (click)="showModal(data.productName,data.productAmount,data.productId)">เพิ่ม / ลด</button>&nbsp;
                  
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <!-- Input for add Product -->
      <div class="col-5">

        <div class="inner-content">
          <div style="font-size: 20px; color: #903AF2;">กรอกข้อมูลสำหรับเพิ่มสินค้าใหม่</div>
          <hr>
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(f.value)" #f="ngForm">

            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="ProductName">ชื่อสินค้า <span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกชื่อสินค้า">
                <input type="text" nz-input id="listOfData.ProductName" formControlName="ProductName"
                  placeholder="กรอกชื่อสินค้า" name="ProductName" [(ngModel)]="ProductName" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="TypeProduct">ประเภทสินค้า <span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกประเภทสินค้า">
                <nz-select nzShowSearch nzAllowClear formControlName="TypeProduct" nzPlaceHolder="กรอกประเภทสินค้า"
                  name="TypeID" [(ngModel)]="TypeProduct">
                  <nz-option *ngFor="let data of TypeGroup" nzLabel="{{data.typeName}}" nzValue="{{ data.typeId }}">
                  </nz-option>

                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="number">จำนวน <span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกจำนวน">
                <input type="number" nz-input placeholder="กรอกจำนวน" name="ProductAmount"
                  formControlName="ProductAmount" [(ngModel)]="ProductAmount" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="Price">ราคาขาย <span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกราคา">
                <input type="number" nz-input id="listOfData.Price" placeholder="กรอกราคา" name="ProductPrice"
                  formControlName="ProductPrice" [(ngModel)]="ProductPrice" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="CostPrice">ราคาต้นทุน <span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกราคาต้นทุน">
                <input type="number" nz-input id="listOfData.CostPrice" placeholder="กรอกราคาต้นทุน" name="CostPrice"
                  formControlName="CostPrice" [(ngModel)]="CostPrice" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="5" [nzXs]="24" for="CostPrice">ซื้อสินค้าจาก<span style="color: red;">*</span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกซื้อสินค้าจาก">
                <input type="text" nz-input id="listOfData.CostPrice" placeholder="กรอกซื้อสินค้าจาก "
                  formControlName="ProductReference" name="ProductReference" [(ngModel)]="ProductReference" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" for="ProductID">สแกนบาร์โค้ดของสินค้า <span
                  style="color: red;">*</span></nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณาสแกนบาร์โค้ดของสินค้า">
                <input type="text" nz-input id="ProductID" placeholder="ก่อนสแกนบาร์โค้ดกรุณาเปลี่ยนภาษาเป็น ENG"
                  name="ProductID" formControlName="ProductID" [(ngModel)]="ProductID" />
              </nz-form-control>
            </nz-form-item>
            <br>
            <div class="text-center">
              <nz-form-item>
                <nz-form-control>
                  <button type="submit" nz-button nzType="primary"> เพิ่มสินค้า</button>&nbsp;
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>

      </div>

    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>


<nz-modal [(nzVisible)]="isVisible" nzTitle="แก้ไขจำนวนสินค้า : {{Title}}" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk(number)">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24">จำนวนสินค้า (ชิ้น) </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="number" nz-input [(ngModel)]="number" />
    </nz-form-control>
  </nz-form-item>
</nz-modal>