.layout {
    height: 100vh;
  }


  nz-header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    color: #6d12e6be;
  }
  .iconSize {
    width: 50PX;
    height: 50px;
  }
  .Usericon{
    width: 30PX;
    height: 30px;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    padding: 0 20px;
    margin-top: 80px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    background: #fff;
    padding: 25px;
    min-height: 700px;
  }

  nz-footer {
    text-align: center;
  }
  .buttonSize{
    width: 180px;
    height: 80px;
    text-align: center;
  }

  .fontSize{
    font-size: 30px;
  }
  .steps-content {
    margin-top: 26px;
    border: 2px solid #F0F2F5;
    border-radius: 6px;
    padding-top: 80px;
    height: 600px;
  }


  button {
    margin-right: 8px;
  }
  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
  nz-date-picker ::ng-deep .ant-calendar-picker{
    // margin: 0 8px 12px 0;
    width: 100%;
  }
  .border-round {
    border: 2px solid #F0F2F5;
    border-radius: 8px;
  }
  .head-content {
    margin: 30px 0px 30px 0px;
  }
  