<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <form style="margin: 100px 0px 0px 10px" nz-form [formGroup]="validateForm" class="login-form"
                (ngSubmit)="submitForm()">
                <br>
                <br>
                <h2 class="text-center">
                    <b style="color: #1095ee">โปรแกรมขายหน้าร้าน POS </b>
                </h2>
                <br>
                <br>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="userName" placeholder="Username" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="Password" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <label nz-checkbox formControlName="remember">
                            <span>จำรหัสผ่าน</span>
                        </label>
                        <button nz-button class="login-form-button" [nzType]="'primary'">เข้าสู่ระบบ</button>
                        Or
                        <button nz-button [nzType]="'default'"
                            (click)="createTplModal(tplTitle, tplContent, tplFooter)">สมัครเข้าใช้งาน</button>

                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>



<ng-template #tplTitle>
    <span>สมัครเข้าใช้งาน</span>
</ng-template>
<ng-template #tplContent>
    <form nz-form [formGroup]="validateRegister">
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired nzFor="email">เลขทะเบียนใบประกอบการ</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกเลขทะเบียนใบประกอบการ">
                <input nz-input formControlName="StoreID" id="StoreID" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired nzFor="email">ชื่อร้านค้า</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกชื่อร้านค้า">
                <input nz-input formControlName="StoreName" id="StoreName" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired nzFor="email">ที่อยู่</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกเลขที่">
                <input nz-input formControlName="LocationNmber" id="LocationNmber" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired nzFor="email">จังหวัด</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกจังหวัด">
                    <nz-select [(ngModel)]="mProvince" formControlName="Province" (ngModelChange)="getAddress($event, data.id)" nzShowSearch nzAllowClear [(nzOpen)]="openProvince">
                            <nz-option *ngFor="let data of province" [nzValue]="data.nameInThai" [nzLabel]="data.nameInThai"></nz-option>
                        </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>

</ng-template>
<ng-template #tplFooter>


    <button nz-button nzType="default" (click)="destroyTplModal()">
        ยกเลิก
    </button>
    <button nz-button nzType="primary" (ngSubmit)="RegisterOK()">
        ตกลง
    </button>

</ng-template>