<div class="bg"> </div>


<div class="container bg-text">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm bg-content">
            <form style="margin: 0px 20px 0px 20px" nz-form [formGroup]="validateForm" class="login-form"
                (ngSubmit)="submitForm()">
                <br>
                <h2 class="text-center">
                    <b style="color: #6a04f0be">ระบบบริหารจัดการร้านสะดวกซื้อทิวพาณิช</b>
                </h2>
                <br>
                <br>
                <nz-form-item>
                    <nz-form-control nzErrorTip="กรุณากรอกชื่อผู้ใช้!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="userName" [(ngModel)]="userName"
                                placeholder="กรอกชื่อผู้ใช้" />
                        </nz-input-group>
                        <nz-form-explain
                            *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
                            กรุณากรอกรหัสผู้ใช้
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="กรุณากรอกรหัสผ่าน!">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" [(ngModel)]="password"
                                placeholder="กรอกรหัสผ่าน" />
                        </nz-input-group>
                        <nz-form-explain
                            *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
                            กรุณากรอกรหัสผ่าน
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        
                        <button nz-button class="login-form-button" [nzType]="'primary'">เข้าสู่ระบบ</button>
                        <!-- สำหรับลูกค้าที่ไม่มีร้านในระบบ
                        <button nz-button [nzType]="'default'"
                            (click)="createTplModal(tplTitle, tplContent, tplFooter)">สมัครเข้าใช้งาน</button> -->
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>


<ng-template #tplTitle>
    <span>สมัครเข้าใช้งาน</span>
</ng-template>
<ng-template #tplContent>
    <form nz-form [formGroup]="validateRegister">
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>เลขทะเบียนใบประกอบการ</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกเลขทะเบียนใบประกอบการ">
                <input nz-input  formControlName="StoreID" id="StoreID"  [(ngModel)]="StoreID" PlaceHolder="กรุณากรอกเลขทะเบียนใบประกอบการ" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>ชื่อร้านค้า</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกชื่อร้านค้า">
                <input nz-input formControlName="StoreName" id="StoreName"[(ngModel)]="StoreName" PlaceHolder="กรุณากรอกชื่อร้านค้า" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>ที่อยู่</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกเลขที่">
                <input nz-input formControlName="LocationNmber" id="LocationNmber" [(ngModel)]="LocationNmber"PlaceHolder="กรุณากรอกเลขที่" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>จังหวัด</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณากรอกจังหวัด">
                <nz-select [(ngModel)]="mProvince" nzPlaceHolder="กรุณากรอกจังหวัด" name="mProvince"
                    (ngModelChange)="getDistrict($event)" formControlName="Province" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let data of province" [nzValue]="data.nameInThai" [nzLabel]="data.nameInThai">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>อำเภอ/เขต</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select [(ngModel)]="mDistrict" nzPlaceHolder="กรุณากรอกอำเภอ/เขต" name="mDistrict"
                    (ngModelChange)="getSubdistricts($event)" formControlName="District" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let data of District" [nzValue]="data.nameInThai" [nzLabel]="data.nameInThai">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>ตําบล/แขวง</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select [(ngModel)]="mSubdistricts" nzPlaceHolder="กรุณากรอกตําบล/แขวง" name="mSubdistricts"
                    (ngModelChange)="getZipcode($event)" formControlName="Subdistricts" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let data of Subdistricts" [nzValue]="data.nameInThai"
                        [nzLabel]="data.nameInThai"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>รหัสไปรษณีย์</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="Zipcode" id="Zipcode" PlaceHolder="กรุณากรอกรหัสไปรษณีย์"
                    [(ngModel)]="ZipcodeStak" />
            </nz-form-control>
        </nz-form-item>
        <b>สร้างรหัสการเข้าใช้งานระบบขายหน้าร้าน</b>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>Username</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณาตั้งชื่อผู้ใช้">
                <input nz-input formControlName="UsernameNew" id="UsernameNew" PlaceHolder="กรุณาตั้งชื่อผู้ใช้"
                    [(ngModel)]="UsernameNew" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรุณาตั้งรหัสผู้ใช้">
                <input type="password" nz-input formControlName="PasswordNew" id="PasswordNew" PlaceHolder="กรุณาตั้งรหัสผู้ใช้"
                    [(ngModel)]="PasswordNew" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>Re-Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" >
                <input type="password" nz-input formControlName="rePasswordNew" id="rePasswordNew" PlaceHolder="กรุณารหัสอีกครั้ง"
                    [(ngModel)]="rePasswordNew" />
                <nz-form-explain *ngIf="PasswordNew != rePasswordNew" style="color: red">
                    รหัสผ่านไม่ตรงกันกรุณาตรวจสอบรหัสผ่านให้ตรงกัน
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="20" nzRequired>รหัสการสมัคร</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="ActivePass" id="ActivePass"
                    PlaceHolder="กรุณารหัสที่ได้รับจากผู้ดูแลระบบ" [(ngModel)]="ActivePass" />
                    <nz-form-explain *ngIf="ActivePass != '0944353673'" style="color: red">
                        กรุณารหัสที่ได้รับจากผู้ดูแลระบบให้ถูกต้อง
                    </nz-form-explain>
            </nz-form-control>
            
        </nz-form-item>

    </form>

</ng-template>
<ng-template #tplFooter>


    <button nz-button nzType="default" (click)="destroyTplModal()">
        ยกเลิก
    </button>
    <button [disabled]= "StoreID === undefined || StoreName === undefined || LocationNmber === undefined || mDistrict === undefined ||
    mProvince === undefined || mSubdistricts === undefined || ZipcodeStak === undefined || UsernameNew === undefined || PasswordNew != rePasswordNew || ActivePass != '0944353673'" nz-button nzType="primary" (click)="RegisterOK()">
        ตกลง
    </button>