<div class="row" [ngSwitch]="pageInput">
    <a class="col-2" [routerLink]="'/home'" style="margin: 0px 0px 0px 25px;"><i nz-icon nzType="left" nzTheme="outline"></i> กลับหน้าหลัก </a>
    <div class="col-3"></div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'previousbills'"> ตรวจสอบบิลย้อนหลัง </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'billmanage'"> จัดการบิล </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'addproducts'"> เพิ่มสินค้า </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'editproducts'"> แก้ไขสินค้า </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'warehouse'"> คลังสินค้า </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'littleproduct'"> สินค้าเหลือน้อย </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'outstock'"> สินค้าหมด </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'salesreport'"> รายงานการขาย </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'bestseller'"> สินค้าขายดี </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'lesssale'"> สินค้าขายได้น้อย </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'editstore'"> แก้ไขข้อมูลร้าน </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'adduser'"> เพิ่มรหัสผู้ใช้งาน </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'testscanner'"> ทดสอบเครื่องสแกนบาร์โค้ด</div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'howtouse'"> วิธีใช้งาน </div>
    <div style="font-size: 20px ; margin: 0px 0px 0px 25px;" *ngSwitchCase="'reportusage'"> แจ้งปัญหาการใช้งาน </div>
</div>